<div class="news-ticker">
    <header class="intro">
        <h2>Letzte Nachrichten</h2>
    </header>
    
    {% for idx in (0..10) %}
    {% if site.posts[idx] == nil %}{% break %}{% endif %}
    <div class="news-ticker-entry" style="background: url({{ site.posts[idx].teaser }}); background-size: cover;">
        <header class="entry-header">
            <h3 class="entry-title">
            <a href="{{ site.posts[idx].id }}" rel="bookmark">
                {{ site.posts[idx].title }}
            </a>
            </h3>
        </header>
    </div>
    {% endfor %}
</div>
