---
---
h1.site-title {
    font-style: normal;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    font-size: 2em;
    color: #fcfbf9;
}

header#masthead {
    background-image: url('//assets/images/header.png');
}
