---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
    <div class="grid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-xl-7">
                <article class="entry-wrap">
                    <div class="entry-content">{{ content }}</div>
                </article>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-xl-5">
                <div id="script_content"></div>
            </div>
        </div>
    </div>

        {% include footer.html %}
</main>
